.wrapper {
  padding: 0 64px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 9999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px) {
    padding: 0 20px;

    justify-content: center;

    .close {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }
}

.subscribe {
  position: absolute;
}

.logo {
  cursor: pointer !important;
}
