.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.logoWrapper {
  margin-bottom: 80px;

  @media screen and (max-width: 1440px) {
    img {
      width: 80%;
    }
    margin-bottom: 60px;
  }
}

.title {
  font-family: var(--font-condensed);
  font-size: var(--size-title);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  text-align: center;

  margin-bottom: 60px;

  @media screen and (max-width: 1440px) {
    font-size: calc(var(--size-title) - 30px);
    margin-bottom: 48px;
  }
}

.sub1 {
  font-family: var(--font-condensed);
  font-size: var(--size-xl);
  font-weight: var(--weight-medium);
  line-height: 48px;
  color: var(--color-white);
  text-align: center;

  text-transform: uppercase;

  margin-bottom: 14px;

  @media screen and (max-width: 1440px) {
    font-size: var(--size-large);
    margin-bottom: 8px;
  }

  @media screen and (max-width: 576px) {
    font-size: var(--size-large);
  }
}

.sub2 {
  font-family: var(--font-condensed);
  font-size: var(--size-xxl);
  line-height: 48px;
  font-weight: var(--weight-medium);
  color: var(--color-white);
  text-align: center;

  text-transform: uppercase;

  margin-bottom: 36px;

  @media screen and (max-width: 1440px) {
    font-size: var(--size-xl);
    margin-bottom: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: var(--size-xl);
  }
}
