.container {
  padding: 48px 48px 24px 48px;
  background-color: var(--color-black);

  box-sizing: border-box;

  @media screen and (max-width: 576px) {
    padding: 32px 32px 16px 32px;
  }
}

.title {
  font-family: var(--font-condensed);
  font-size: var(--size-xxl);
  font-weight: var(--weight-bold);

  color: var(--color-white);

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 16px;

  @media screen and (max-width: 576px) {
    font-size: var(--size-large);
  }
}

.sub {
  font-family: var(--font-condensed);
  font-size: var(--size-xbig);
  font-weight: var(--weight-medium);

  color: var(--color-white);

  text-align: center;
  text-transform: uppercase;

  span {
    color: var(--color-yellow);
  }

  @media screen and (max-width: 576px) {
    font-size: var(--size-big);
  }
}

.toHome {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;
  gap: 12px;

  p,
  a {
    text-transform: uppercase;
  }

  @media screen and (max-width: 576px) {
    gap: 8px;
    padding: 32px 0;

    p,
    a {
      font-size: var(--size-small);
    }
  }
}
