.small {
  font-size: var(--size-small);
}

.regular {
  font-size: var(--size-regular);
}

.medium {
  font-size: var(--size-medium);
}

.big {
  font-size: var(--size-big);
}

.large {
  font-size: var(--size-large);
}

.xl {
  font-size: var(--size-xl);
}

.xxl {
  font-size: var(--size-xxl);
}

.title {
  font-size: var(--size-title);
}

.normal {
  font-weight: var(--weight-normal);
}

.mid {
  font-weight: var(--weight-medium);
}

.bold {
  font-weight: var(--weight-bold);
}

.thin {
  font-weight: var(--weight-thin);
}

.black {
  font-weight: var(--weight-black);
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}

.yellow {
  color: var(--color-yellow);
}

.condensed {
  font-family: var(--font-condensed);
}

.link {
}
