.title {
  font-family: var(--font-condensed);
  font-size: var(--size-large);
  font-weight: var(--weight-bold);

  color: var(--color-white);

  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: 576px) {
    font-size: var(--size-large-mobile);
  }
}

.text {
  font-family: var(--font-default);
  font-size: var(--size-big);
  font-weight: var(--weight-normal);

  color: var(--color-white);

  text-align: center;
  line-height: 1.4;

  span {
    color: var(--color-yellow);
  }
}
