:root {
  --color-white: #ffffff;
  --color-border: #bfbfbf80;
  --color-grey: #bcbcbc;
  --color-black: #000000;
  --color-yellow: #ffc000;
  --color-red: #ff0000;

  --weight-thin: 100;
  --weight-bold: 900;
  --weight-medium: 600;
  --weight-normal: 400;

  --size-xs: 12px;
  --size-small: 14px;
  --size-normal: 16px;
  --size-button: 18px;
  --size-medium: 20px;
  --size-big: 24px;
  --size-xbig: 36px;
  --size-large: 48px;
  --size-large-mobile: 32px;
  --size-xl: 56px;
  --size-xxl: 72px;
  --size-title: 117px;

  --font-default: 'Lambotype', sans-serif;
  --font-condensed: 'Lambotype Cnd', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}
