.container {
  padding: 48px 48px 24px 48px;
  background-color: var(--color-black);

  max-width: 698px;
  box-sizing: border-box;

  @media screen and (max-width: 576px) {
    padding: 48px 0 24px 0;
  }
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;

  @media screen and (max-width: 576px) {
    gap: 32px;
  }
}

.buttons {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;

  a,
  button {
    flex: 0;
  }

  @media screen and (max-width: 576px) {
    gap: 8px;
    button,
    a {
      flex: 1;
      padding: 12px 24px;
      height: 48px;
      min-width: 0 !important;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
    }
  }
}

.gdpr {
  padding: 16px 0;
  font-family: var(--font-default);
  font-size: var(--size-normal);
  font-weight: var(--weight-thin);
  line-height: normal;

  color: var(--color-grey);

  line-height: normal;

  a {
    color: var(--color-white);
    text-decoration: underline;
  }

  @media screen and (max-width: 576px) {
    font-size: var(--size-normal);
    line-height: 24px;
  }
}
