.wrapper {
  width: 100%;
  position: relative;

  padding: 24px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-white);

  box-sizing: border-box;

  @media screen and (max-width: 576px) {
    padding: 16px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0rgb (0, 0, 0) 00px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.wrapperError {
  border-bottom: 1px solid var(--color-red);
}

.input {
  all: unset;
  width: 100%;

  font-size: var(--size-big);
  font-weight: var(--weight-normal);
  font-family: var(--font-roboto);
  color: var(--color-white);
  background-color: var(--color-black);
  text-transform: uppercase;

  &::placeholder {
    color: var(--color-white);
    text-transform: uppercase;

    &::after {
      content: '*';
      color: var(--color-yellow);
    }
  }

  @media screen and (max-width: 576px) {
    font-size: var(--size-medium);
  }
}

.error {
  color: var(--color-red) !important;
}

.errorText {
  position: absolute;
  bottom: -22px;
  left: 0;
  font-size: var(--size-small);
  font-weight: var(--weight-normal);
  color: var(--color-red);

  @media screen and (max-width: 576px) {
    font-size: var(--size-xs);
    bottom: 4px;
  }
}
