.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;

  padding: 28px 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    width: 100%;
    text-align: left;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000f0 100%);
    z-index: -100;

    @media screen and (max-width: 576px) {
      height: 80px;
    }
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 14px;
    padding: 20px;

    p,
    a {
      font-size: var(--size-small);
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;

  a {
    text-wrap: nowrap;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
    text-wrap: wrap;
    gap: 12px;

    justify-content: space-between;
    a {
      text-wrap: wrap;
      width: auto;
    }
  }
}
