.text {
  font-family: var(--font-default);
  font-size: var(--size-big);
  font-weight: var(--weight-normal);

  color: var(--color-white);

  text-align: center;
  line-height: 1.4;

  margin-bottom: 48px;

  span {
    color: var(--color-yellow);
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.title {
  display: none;

  font-family: var(--font-condensed);
  font-size: var(--size-large-mobile);

  font-weight: var(--weight-bold);

  color: var(--color-white);

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 48px;

  @media screen and (max-width: 576px) {
    display: inline;
    margin-bottom: 24px;
  }
}
